<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">  
          <title>My Website - About</title>   
           <link rel="stylesheet" href="/static/css/app.css">
        </head>
        <body>   
             <h1>Samantha James</h1>  
            <p>This is a short paragraph about myself.Hi! I am Samantha James, a third year student at the University of the West Indies. Aspiring to be a Backend Developer and a Cyber Security Analyst
                I am a person who is positive about every aspect of life.
                I enjoy solving problems and learning new things.Because of this, I have a growing interest in web development as it 
                is challenging and calls for continuous innovation and problem solving.

            </p>
    </body>
</html>


